target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
**.DS_Store
/robot-framework/venv
robot-framework/log.html
robot-framework/log.html
robot-framework/output.xml
robot-framework/report.html
/test/robot-framework/venv
test/robot-framework/log.html
test/robot-framework/output.xml
test/robot-framework/report.html
